@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BigNoodle";
  src: url('./fonts/Bignoodle.ttf') format('truetype'); 
}

.font-bignoodle {
  font-family: BigNoodleTitling;

}
